.btn{
    background-color:var(--color-secondary);
     color: var(--color-primary); 
    height: 47px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
    border-radius: 8px;
    cursor: pointer;
 }