.card {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.header{
    margin-inline: 20px;
    display: flex;
    justify-content:space-between;
    align-items: baseline;
}

.cardWrapper {
    margin-top: 10px;
}

.tabWrapper{
    margin-left: 31px;
    .genreTab{
     color: var(--color-white);
    }
    .selectedTab{
        color: var(--color-white) !important;
        border-bottom-color: var(--color-primary) !important;
    }

}

.indicator{
    background-color: var(--color-primary) !important;
}
